<h1>Data Exploration

<p>
    Der Business Usecase ist:<br>
    <ul>
        <li>Die Preise in Deutschland zu Zeigen.</li>
        <li>Wie haben sie sich über die letzten Jahre Verändert.</li>
        <li>Wie verhält sich der Preis im vergleich zu Ballungszentren.</li>
        <li>Neben den Geografischenlage, was sind Interesante Attribute für die Geselschafft.</li>  
    </ul>
</p>

<h3>Information</h3>
Eliminate: Date, telekomHybridUploadSpeed, noParkSpaces, heatingCosts, energyEfficiencyClass, lastRefurbish, electricityBasePrice, electricityKwhPrice,

Make a Seperate Thing: Description, Facilities

Make a Seperate Thing: Do a Card with Regio 1,2,3

<h2>First Data Contact

In [1]:
#import 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import urllib.parse
import time

In [2]:
#Load data 
path = "immo_data.csv"
df = pd.read_csv(path)
pd.set_option('display.max_columns', None)
df.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,firingTypes,hasKitchen,geo_bln,cellar,yearConstructedRange,baseRent,houseNumber,livingSpace,geo_krs,condition,interiorQual,petsAllowed,street,streetPlain,lift,baseRentRange,typeOfFlat,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,garden,livingSpaceRange,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,840.0,1965.0,96107057,1.0,oil,False,Nordrhein_Westfalen,True,2.0,595.0,244,86.00,Dortmund,well_kept,normal,NaN,Sch&uuml;ruferstra&szlig;e,Schüruferstraße,False,4,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,NaN,1871.0,111378734,2.0,gas,False,Rheinland_Pfalz,False,1.0,800.0,NaN,89.00,Rhein_Pfalz_Kreis,refurbished,normal,no,no_information,NaN,False,5,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,1300.0,2019.0,113147523,1.0,NaN,False,Sachsen,True,9.0,965.0,4,83.80,Dresden,first_time_use,sophisticated,NaN,Turnerweg,Turnerweg,True,6,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,NaN,1964.0,108890903,NaN,district_heating,False,Sachsen,False,2.0,343.0,35,58.15,Mittelsachsen_Kreis,NaN,NaN,NaN,Gl&uuml;ck-Auf-Stra&szlig;e,Glück-Auf-Straße,False,2,other,9599,3.0,86.0,3.0,NaN,3,False,2,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,903.0,1950.0,114751222,NaN,gas,False,Bremen,False,1.0,765.0,10,84.97,Bremen,refurbished,NaN,NaN,Hermann-Henrich-Meier-Allee,Hermann-Henrich-Meier-Allee,False,5,apartment,28213,3.0,188.9,1.0,NaN,3,False,4,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
correlation_matrix(df)

<h2> 1. Data Cleaning </h2>

<h3>Handeling Null Data

<p>It is importand to think about what to do with Null Data and see how much Null there is in a Data Set.

In [ ]:
df.isna().sum()/len(df)

In [ ]:
#returns the attributs that have more than 50% null
df.columns[((df.isna().sum()/len(df)) > 0.50)]

<ul>
    <li>telekomHybridUploadSpeed = 83% null (to much null to set with mean and no real corelation to price)
    <li>noParkSpaces = 65% (Will be replaced with 0)
    <li>heatingCosts = 68% (To big range to change it with mean) ?
    <li>energyEfficiencyClass = 71% (To little Corelation and to many missing)
    <li>lastRefurbish = 70% (A lot of wrong Data and a hight rate if Nan will be cut)
    <li>electricityBasePrice = 82% (Sind seit 2020 veraltet, und viele Fehlende Daten, will be cut)
    <li>electricityKwhPrice = 82% (Cut out, small range of Values and to many Nan)
</ul>
<p> Paralele Auswertung zu einzelen Attributen machen.

In [ ]:
#to see what kind of data is inside if the attributes
#set_maker(df,"noParkSpaces")
df['noParkSpaces'].value_counts()

In [ ]:
#drops Colums
df = df.drop(columns=df.columns[((df.isna().sum()/len(df)) > 0.66)])
df.columns

In [ ]:
#since No. of Parkingspaces are importat for a Arppartmet I think they would put them in the offering
#seting noParkings. fro Nan to 0
df["noParkSpaces"] = df["noParkSpaces"].fillna(value=0)

<h3>Handeling Inappropriate and unuseful Data

In [ ]:
#drop Data pionts in "baseRent" with the Values 0.0
df = drop_inappropriate(df,"baseRent", 0.0)

In [ ]:
#drop Data pionts in "livingSpace" with the Values 0.0
df = drop_inappropriate(df,"livingSpace", 0.0)

In [ ]:
#drop Data pionts in "floor" with the Values bigger than 50
#there are no rental objects higher than 50 floors
df = drop_inappropriate_bigger(df,"floor", 50)

In [ ]:
#drop Data pionts in "numberOfFloors" with the Values bigger than 50
#there are no rental objects higher than 50 floors
df = drop_inappropriate_bigger(df,"numberOfFloors", 50)

In [ ]:
#drop Data pionts in "noParkSpaces" with the Values bigger than 30
df = drop_inappropriate_bigger(df,"noParkSpaces", 30)

In [ ]:
#Insprect the Dataframe
df.head()

<h3> Explanation</h3>
    <ul>
        <li>description = No need because there are no direct information on the House Price, could be explord in side Project
        <li>livingSpaceRange = Is reprecented in other Attributes.
        <li>scoutId = Just a Immoscout intern ID
        <li>street = Not importat
        <li>streetPlain = Same as Steet Name
        <li>houseNumber = Not important
        <li>date = Just the scraping date.
        <li>facilities = Same as Description
        <li>totalRent = is just a combination of Rent and serviceCharges, still has no correlation
        <li>telekomUploadSpeed = Has no Corralation and makes no sens to keep everyone can choose the Speed they want to pay for

In [ ]:
#drop Attributes that are unimportant 
df = df.drop(columns=['description','livingSpaceRange','scoutId','street','streetPlain','houseNumber','date','facilities','totalRent','telekomUploadSpeed'])

<h3> Handeling Nan Data that can not be fild with mean </h3>

In [ ]:
pd_hist(df,50)

In [ ]:
df = drop_inappropriate_bigger(df,"serviceCharge", 1000)
df = drop_inappropriate_smaller(df,"serviceCharge", 0)
#should i up the number for smaller?

In [ ]:
df = drop_inappropriate_bigger(df,"livingSpace", 500)
#should i cut out all sqm over 10.000 found no rental object that that big, also it should be just the living area so 500-1000 would also possible to cut out

In [ ]:
df = drop_inappropriate_bigger(df,"noRooms", 20)

In [ ]:
#drop Data pionts in "baseRent" with the Values bigger than 10.000€
df = drop_inappropriate_bigger(df,"baseRent", 10000)

In [ ]:
df = drop_inappropriate_smaller(df,"yearConstructed", 1900) #1900
df = drop_inappropriate_bigger(df,"yearConstructed", 2025) #2025

In [ ]:
#it is important on witch floor the flat is as long as it's not on 0 (ground Floor) so every Nan will be replaced with 0 
#because taking a mean or median would not make sence
#some people have put 1 for the ground floor and some 0 soo? What to do?
df["floor"] = df["floor"].fillna(value=0)

In [ ]:
df["petsAllowed"].value_counts()

In [ ]:
df["petsAllowed"] = df["petsAllowed"].fillna(value='no')
df["petsAllowed"] = df["petsAllowed"].replace(['no'],False)
df["petsAllowed"] = df["petsAllowed"].replace(['yes'],True)

In [ ]:
pd_hist(df,50,"floor")

In [ ]:
correlation_matrix(df)

<h3>Fill Numeric Nan with mean

In [ ]:
#See the Mean of the Data
df._get_numeric_data().mean()

In [ ]:
df._get_numeric_data().median()

In [ ]:
df._get_numeric_data().isna().sum()

In [ ]:
#fill the Nan
df.fillna(df._get_numeric_data().mean(),inplace = True)

In [ ]:
#See how many Nan are still in the Data Frame
df.isna().sum()

In [ ]:
df.info()

<p> Numeric Data (21) : 
  <ul>
    <li> serviceCharge </li>
    <li> picturecount </li>
    <li> pricetrend </li>
    <li> yearConstructed </li>
    <li> noParkSpaces </li>
    <li> yearConstructedRange </li>
    <li> baseRent </li>
    <li> livingSpace </li>
    <li> baseRentRange </li>
    <li> geo_plz </li>
    <li> noRooms </li>
    <li> thermalChar </li>
    <li> floor </li>
    <li> numberOfFloors </li>
    <li> noRoomsRange </li>
    <li> newlyConst </li>
    <li> balcony </li>
    <li> hasKitchen </li>
    <li> cellar </li>
    <li> lift </li>
    <li> garden </li>
   </ul>
  Catgorical Data (12):
    <ul>
    <li> regio1 </li>
    <li> heatingType </li>
    <li> telekomTvOffer </li>
    <li> firingTypes</li>
    <li> geo_bln </li>
    <li> geo_krs </li>
    <li> condition </li>
    <li> interiorQual </li>
    <li> petsAllowed </li>
    <li> typeOfFlat </li>
    <li> regio2 </li>
    <li> regio3 </li>
     </ul>

In [ ]:
df.head(20)

<h2> 2. Data Visualization <h2>

In [ ]:
hist = df.hist(bins=100,figsize=(20,20))

In [ ]:
df.columns

In [ ]:
#displot(df,"noParkSpaces","baseRent")

<h3> Development of rental prices in relation to the variables with the highest correlations </h3>
    <p>
    <li> Living Space 
    <li> Service Charge

In [ ]:
sns.regplot(x='livingSpace', y='baseRent', data=df)

In [ ]:
sns.regplot(x = 'serviceCharge', y= 'baseRent', data=df)

<h3> Rental prices in comparison of the German states </h3>

In [ ]:
plt.figure(figsize=(20,10))

sns.barplot(x=df.regio1, y=df.baseRent, ci = None)
plt.ylim([25, 1250])
plt.xticks(rotation='vertical')
plt.show()

<h2> 3. Data Prediction </h2>

<h3> Handeling Categorical Data </h3>

In [ ]:
#--> Need to eliminate some categorical features
categorical_columns = []
for cols in df.columns:
    if df[cols].dtype == 'object':
        categorical_columns.append(cols)
        
categorical_columns

In [ ]:
df['heatingType'].value_counts()

In [ ]:
df['telekomTvOffer'].value_counts()

In [ ]:
df['firingTypes'].value_counts()

In [ ]:
df['condition'].value_counts()

In [ ]:
df['interiorQual'].value_counts()

In [ ]:
df['typeOfFlat'].value_counts()

In [ ]:
df = df.drop(columns=["regio1", "regio2", "regio3", "geo_bln", "geo_krs", "petsAllowed", "heatingType", "firingTypes", "typeOfFlat"])

<h4> Explanation</h4>
</br>
    Droping:
    <ul>
        <li>regio1, regio2, regio3, geo_bln, geo_krs = Too many categories and already analized with the map
        <li>petsAllowed = Not relevant for all people --> not all people have pets
        <li>heatingType = Too many categories
        <li>firingTypes = Too many categories
        <li>TypeOfFlat = Category Other has 8913 values, this category is useless
   </ul>
   Remaining:
   <ul>
    <li>telekomTvOffer
    <li>condition 
    <li>InteriorQual

In [ ]:
categorical_columns = []
for cols in df.columns:
    if df[cols].dtype == 'object':
        categorical_columns.append(cols)
        
categorical_columns

In [ ]:
dummies_feature = pd.get_dummies(df[categorical_columns])
dummies_feature.head()

In [ ]:
df = pd.concat([df, dummies_feature], axis=1)
df.head()

In [ ]:
df = df.drop(categorical_columns,axis=1)

In [ ]:
X=df.copy()
y = np.log(df['baseRent'])

X.drop(['baseRent'],axis=1,inplace = True)

## First Price Prediction System

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [ ]:
df.head()

In [ ]:
# what to do whit "petsAllowed" there is True False and Maybe
X = np.asarray(df[['serviceCharge','newlyConst', 'balcony', 'picturecount', 'pricetrend','yearConstructed', 'noParkSpaces', 'hasKitchen', 'cellar', 'yearConstructedRange', 'livingSpace', 'lift','baseRentRange', 'geo_plz', 'noRooms', 'thermalChar','floor', 'numberOfFloors', 'noRoomsRange', 'garden']])
y = np.asarray(df['baseRent'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, shuffle= True)

In [ ]:
lineReg = LinearRegression()
lineReg.fit(X_train, y_train)
print('Score: ', lineReg.score(X_test, y_test))
print('Weights: ', lineReg.coef_)

plt.plot(lineReg.predict(X_test))
plt.plot(y_test)
plt.show()

In [ ]:
reg = linear_model.Ridge (alpha = .5)
reg.fit(X_train, y_train)
print('Score: ', reg.score(X_test, y_test))
print('Weights: ', reg.coef_)

plt.plot(reg.predict(X_test))
plt.plot(y_test)
plt.show()

In [ ]:
df_test = df[['serviceCharge','newlyConst', 'balcony', 'picturecount', 'pricetrend','yearConstructed', 'noParkSpaces', 'hasKitchen', 'cellar', 'yearConstructedRange', 'livingSpace', 'lift','baseRentRange', 'geo_plz', 'noRooms', 'thermalChar','floor', 'numberOfFloors', 'noRoomsRange', 'garden']]
df_pred = df_test.head(5)
reg.predict(df_pred)
#reg.predict([[255,  True, True,  8,  2.72, 2019, 1, False, True, 9.0, 83.8, True, 6, 1097, 3.0, 114.6, 3.0, 4, 3, False]])

In [ ]:
df.head(5)

# Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
# Fit regression model
regr1 = DecisionTreeRegressor(max_depth=2)
regr_2 = DecisionTreeRegressor(max_depth=5)
regr_1.fit(X_train, y_train)
regr_2.fit(X_train, y_train)

In [ ]:
# Predict
prediction_1 = regr_1.predict(df_pred)
prediction_2 = regr_2.predict(df_pred)

## Map of Germany

In [ ]:
#Load Location Data
path_plz = "plz_geocoord.csv"
df_plz = pd.read_csv(path_plz)
pd.set_option('display.max_columns', None)
df_plz.columns = ['plz', 'lat', 'lon']
df_plz = df_plz.set_index('plz')
df_plz.head(3)

In [ ]:
test_df = df.head(1000)

In [ ]:
t0 = time.time()
for index, row in test_df.iterrows():
    lat_lon = get_lat_lon(row["geo_plz"],df_plz)
    test_df.loc[index, 'lat'] = lat_lon[0]
    test_df.loc[index, 'lon'] = lat_lon[1]

t1 = time.time()
total = t1-t0

print("It took {} Sec. to get {} Lat and Lon Data Pionts".format(total,test_df.shape[0]))
    
df.head()

In [ ]:
#create coloum
df["lat"] = np.nan
df["lon"] = np.nan
df.head()

In [ ]:
t0 = time.time()

lat_lon = get_lat_lon("Freiburg")

t1 = time.time()
total = t1-t0

print("It took {} Sec. to get {} Lat and Lon Data Pionts".format(total,df.shape[0]))
    
#df.head()

In [ ]:
test_df = df.head(1000)
print(test_df.shape[0])

In [ ]:
t0 = time.time()
for index, row in test_df.iterrows():
    lat_lon = get_lat_lon(row["regio3"])
    df.loc[index, 'lat'] = lat_lon[0]
    df.loc[index, 'lon'] = lat_lon[1]

t1 = time.time()
total = t1-t0

print("It took {} Sec. to get {} Lat and Lon Data Pionts".format(total,df.shape[0]))
    
df.head()

In [ ]:
from geopy.extra.rate_limiter import RateLimiter

# 1 - conveneint function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
# 2- - create location column
df['location'] = df['ADDRESS'].apply(geocode)
# 3 - create longitude, laatitude and altitude from location column (returns tuple)
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
# 4 - split point column into latitude, longitude and altitude columns
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

In [ ]:
df.head(13910)

## Functions for the Code

In [ ]:
def correlation_matrix(df):
    corr = df.corr()
    f, ax = plt.subplots(figsize=(20, 20))
    sns.heatmap(corr, square = True,fmt='.2f' ,annot = True)
    
    
def set_maker(df,attribute):
    array = df[attribute].unique()
    help_list = array.tolist()
    attribute_set = set(help_list)
    print(attribute_set)
    if type(help_list[1]) == int or float:
        print("The mean of this Attribute is {}".format(df[attribute].mean()))
    elif type(help_list[1]) == str:
        print("Sorry there is no mean to figute out.")


def drop_inappropriate(df, attribute, inappropriate):
    i = df[df[attribute] == inappropriate].shape[0]
    print("There are {} inappropriate Data Points with the Value {}".format(i,inappropriate))
    df = df.drop(df[df[attribute] == inappropriate].index)
    print("The Datapiont have been Droped, the shape if the Dataframe is now {}".format(df.shape))
    return df

def drop_inappropriate_bigger(df, attribute, inappropriate):
    i = df[df[attribute] >= inappropriate].shape[0]
    print("There are {} inappropriate Data Points with the Value bigger than {}".format(i,inappropriate))
    df = df.drop(df[df[attribute] >= inappropriate].index)
    print("The Datapiont have been Droped, the shape if the Dataframe is now {}".format(df.shape))
    return df

def drop_inappropriate_smaller(df, attribute, inappropriate):
    i = df[df[attribute] <= inappropriate].shape[0]
    print("There are {} inappropriate Data Points with the Value smaller than {}".format(i,inappropriate))
    df = df.drop(df[df[attribute] <= inappropriate].index)
    print("The Datapiont have been Droped, the shape if the Dataframe is now {}".format(df.shape))
    return df

def get_lat_lon(plz, df_plz):
    try:
        lat = df_plz.loc[plz, 'lat']
        lon = df_plz.loc[plz, 'lon']  
    except:
        plz += 1
        get_lat_lon(plz,df)
        return lat, lon
    return lat, lon

def displot(df, x, y):
    sns.displot(data=df, x=df[y], col=df[x], kde=True)
    plt.show()
    
def pd_hist(df,bins,attribute=False):
    if bool(attribute) == True:
        test_df = df[attribute]
        hist = test_df.hist(bins=bins,figsize=(20,20))
    else:
        hist = df.hist(bins=bins,figsize=(20,20))

## Old Funtions

In [ ]:
'''
def get_lat_lon(address):
    url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'
    response = requests.get(url).json()
    if bool(response) == True:
        lat = response[0]["lat"]
        lon = response[0]["lon"]
    else:
        lat = np.nan
        lon = np.nan
    return lat, lon
    
    
'''